.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
  padding-right: 10px;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderRounded {
  border-radius: 5px;
}

.padding1px {
  padding-top: 1px;
}

.lightText {
  color: #666;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px 1px;
}

.flexContainer {
  display: flex;
  gap: 1px 1px;
  padding-left: 50px;
  padding-right: 50px;
}

.flexWrapContainer {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 1px 1px;
  flex-wrap: wrap;
}

.flexGapContainer {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 25px 25px;
  flex-wrap: wrap;
}

.justifyCenter {
  width: 1400px;
  justify-content: center;
  align-content: center;
  display: flex;
}

.coverContainer {
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  border-radius: 5px;
}
